.navbar-container {
  display: flex;
  justify-content: center;
  background: #ffffff33;
  padding: 8px;
}
.logo-and-content-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}
.logo-and-heading-container {
  display: flex;
  align-items: center;
}
.logo-image {
  width: 24px;
}
@media screen and (min-width: 768px) {
  .logo-image {
    width: 48px;
  }
}
.logo-heading {
  color: #ffffff;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .logo-heading {
    font-size: 24px;
  }
}
.score-container {
  display: flex;
  align-items: center;
}
.score {
  color: #ffffff;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}
